body {
    font-family: 'Montserrat', sans-serif;
    ;
}

#header {
    font-size: 45px;
    /*color: #FFF;*/
    /*background: #000;*/
    height: 55px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 25px;
    text-align: left;
}

#disclaimer {
    text-align: left;
    font-size: 50%;
    margin: 5px;
    padding-left: 25px;
}

#announcement {
    display: none;
    font-size: 50%;
    float: right;
    border-radius: 5px;
    background: #FBB;
    padding: 5px;
}

#table-main {
    float: left;
    width: 50%;
}

#settings {
    margin: 0px 10px 10px 10px;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    background: #EEE;
}

#code-search {
    width: 20%;
}

#name-search {
    width: 60%;
}

#table-wrap {
    margin: 10px 10px 0px 10px;
    border-radius: 15px;
    padding: 0px 10px 10px 10px;
    background: #EEE;
}

#calendar-main {
    float: right;
    width: 50%;
}

#calendar-wrap {
    background: #EEE;
    margin: 0px 10px 0px 10px;
    padding: 5px 10px 10px 10px;
    border-radius: 15px;
}

#calendar {
    margin-top: -25px;
}

#class-search {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 15px;
    background: #EEE;
    padding: 20px;
    float: right;
    width: 20%;
}

.nav-arrow {
  display: none;
  color: black;
}

.nav-arrow:hover {
  color: #A67C00;
}

.nav-arrow.visited {
  color: black;
}

.search {
    width: 50%;
}

.child {
    background: #f6f6f6;
}

/* Tooltips from https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    pointer-events: none;
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    left: 50%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    left: 50%;
    margin-left: -5px;
}

.tooltip .tooltiptext-top {
    bottom: 100%;
    margin-bottom: 10px;
}

.tooltip .tooltiptext-top::after {
    top: 100%;
    border-color: #333 transparent transparent transparent;
}

.tooltip .tooltiptext-bot {
    top: 100%;
    margin-top: 10px;
}

.tooltip .tooltiptext-bot::after {
    bottom: 100%;
    border-color: transparent transparent #333 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.fc-time-grid-container {
    overflow-y: visible;
    overflow-x: visible;
}

@media only screen and (max-width: 700px) {
    #table-div {
        width: 80%;
    }
    #calendar {
        width: 80%;
    }
}
