#header {
  font-family: sans-serif;
  font-size: 45px;
  /*color: #FFF;*/
  /*background: #000;*/
  height: 55px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  align: center;
}

#settings {
  margin-top: 10px;
  float: left;
}

#table-div {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 15px;
  background: #EEE;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 50%;
}

#calendar {
  float: right;
  margin-top: -25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 40%;
}

#class-search {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background: #EEE;
  padding: 20px;
  float: right;
  width: 20%;
}

.search {
  width: 50%;
}

.child {
  background: #f6f6f6;
}

@media only screen and (max-width: 700px) {
  #table-div {
    width: 80%;
  }
  #calendar {
    width: 80%;
  }
}
